n8n/workflows/daily_ops_summary.json
{
  "name": "Daily Ops Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        },
        "timezone": "Asia/Bangkok"
      },
      "id": "1",
      "name": "Daily 08:00 (Asia/Bangkok)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst y = new Date(now);\ny.setDate(y.getDate() - 1);\nconst from = new Date(y); from.setHours(0,0,0,0);\nconst to = new Date(y); to.setHours(23,59,59,999);\nconst d = y.toISOString().slice(0,10);\nreturn [{ json: { metric_date: d, from_ts: from.toISOString(), to_ts: to.toISOString() } }];"
      },
      "id": "2",
      "name": "Build Yesterday Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH base AS (\n  SELECT status, processing_time_ms, COALESCE(supplier_code, 'unknown') AS tenant_id, error_details\n  FROM invoice_log\n  WHERE created_at >= '{{$json.from_ts}}'::timestamp\n    AND created_at <= '{{$json.to_ts}}'::timestamp\n), agg AS (\n  SELECT\n    tenant_id,\n    COUNT(*) AS invoices_total,\n    COUNT(*) FILTER (WHERE status = 'completed') AS completed,\n    COUNT(*) FILTER (WHERE status IN ('failed','error','token_error','rejected')) AS failed,\n    COUNT(*) FILTER (WHERE status = 'needs_mapping') AS needs_mapping,\n    COUNT(*) FILTER (WHERE status IN ('needs_review','draft')) AS needs_review,\n    ROUND(AVG(NULLIF(processing_time_ms, 0)))::int AS avg_processing_ms\n  FROM base\n  GROUP BY tenant_id\n), upsert AS (\n  INSERT INTO ops_metrics_daily (metric_date, tenant_id, invoices_total, completed, failed, needs_mapping, needs_review, avg_processing_ms, created_at, updated_at)\n  SELECT '{{$json.metric_date}}'::date, tenant_id, invoices_total, completed, failed, needs_mapping, needs_review, avg_processing_ms, NOW(), NOW()\n  FROM agg\n  ON CONFLICT (metric_date, tenant_id) DO UPDATE\n  SET invoices_total = EXCLUDED.invoices_total,\n      completed = EXCLUDED.completed,\n      failed = EXCLUDED.failed,\n      needs_mapping = EXCLUDED.needs_mapping,\n      needs_review = EXCLUDED.needs_review,\n      avg_processing_ms = EXCLUDED.avg_processing_ms,\n      updated_at = NOW()\n  RETURNING *\n)\nSELECT * FROM upsert;"
      },
      "id": "3",
      "name": "Upsert Daily Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 300],
      "credentials": {
        "postgres": {
          "id": "__SET_IN_N8N__",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(error_details, 'unknown_error') AS error_type, COUNT(*) AS total\nFROM invoice_log\nWHERE created_at >= '{{$('Build Yesterday Range').item.json.from_ts}}'::timestamp\n  AND created_at <= '{{$('Build Yesterday Range').item.json.to_ts}}'::timestamp\n  AND status IN ('failed','error','token_error','rejected')\nGROUP BY COALESCE(error_details, 'unknown_error')\nORDER BY total DESC\nLIMIT 5;"
      },
      "id": "4",
      "name": "Top Failures",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [950, 300],
      "credentials": {
        "postgres": {
          "id": "__SET_IN_N8N__",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(SUM(invoices_total),0) AS invoices_total, COALESCE(SUM(completed),0) AS completed, COALESCE(SUM(failed),0) AS failed, COALESCE(SUM(needs_mapping),0) AS needs_mapping, COALESCE(SUM(needs_review),0) AS needs_review, ROUND(AVG(avg_processing_ms))::int AS avg_processing_ms\nFROM ops_metrics_daily\nWHERE metric_date = '{{$('Build Yesterday Range').item.json.metric_date}}'::date;"
      },
      "id": "5",
      "name": "Read Day Totals",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 300],
      "credentials": {
        "postgres": {
          "id": "__SET_IN_N8N__",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const totals = $json || {};\nconst failItems = $items('Top Failures').map(i => i.json);\nconst failText = failItems.length ? failItems.map((f, idx) => `${idx + 1}. ${String(f.error_type).slice(0, 60)}: ${f.total}`).join('\\n') : '- none';\nconst metricDate = $('Build Yesterday Range').item.json.metric_date;\nconst text = [\n  `📊 Daily Ops Summary (${metricDate})`,\n  `Invoices: ${totals.invoices_total || 0}`,\n  `Completed: ${totals.completed || 0}`,\n  `Failed: ${totals.failed || 0}`,\n  `Needs mapping: ${totals.needs_mapping || 0}`,\n  `Needs review: ${totals.needs_review || 0}`,\n  `Avg processing (ms): ${totals.avg_processing_ms || 0}`,\n  `Top failures:`,\n  failText\n].join('\\n');\n\nreturn [{ json: { summary_text: text.slice(0, 3500), metric_date: metricDate } }];"
      },
      "id": "6",
      "name": "Build Summary Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPS_ALERT_WEBHOOK_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { text: $json.summary_text, metric_date: $json.metric_date, source: 'daily_ops_summary' } }}"
      },
      "id": "7",
      "name": "Send Alert Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 260],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ops_events (ts, level, workflow, event_type, message, context) VALUES (NOW(), 'info', 'daily_ops_summary', 'summary_sent', 'Daily summary dispatched to configured webhook', jsonb_build_object('metric_date', '{{$('Build Summary Message').item.json.metric_date}}', 'webhook_configured', {{ $env.OPS_ALERT_WEBHOOK_URL ? 'true' : 'false' }}));"
      },
      "id": "8",
      "name": "Log Summary Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1700, 360],
      "credentials": {
        "postgres": {
          "id": "__SET_IN_N8N__",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Daily 08:00 (Asia/Bangkok)": {
      "main": [
        [
          {
            "node": "Build Yesterday Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Yesterday Range": {
      "main": [
        [
          {
            "node": "Upsert Daily Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Daily Metrics": {
      "main": [
        [
          {
            "node": "Top Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top Failures": {
      "main": [
        [
          {
            "node": "Read Day Totals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Day Totals": {
      "main": [
        [
          {
            "node": "Build Summary Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Message": {
      "main": [
        [
          {
            "node": "Send Alert Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Summary Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
